#homepage{
    border: 4px;
    text-align: center;
    border:solid #c199bc;
    background-color: #ec95e1;
    color: aliceblue;
    height: 816px;
    width: 1820px;
   padding-top: 73px;
   font-size: xx-large;
}
#trevor{
    width: 300%;
    height: 50%;
    padding-right: 20%;
}
#summary{
    padding-top: 140px;
    font-size:large;
    background-color: #ec95e1;
    color: black;
    height: 800px;
}
#BornaCrime{
    border:solid #c199bc;
    background-color: #ec95e1;
    color: black;
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    gap: 35%;
}

#logInbutton{
    width: 23%;
    margin-left: 28%;
}
#image{
    display: flex;
    margin-left: 453px;
}
#goals{
    border: 24px;
    border:solid #d411ba;
    background-color: #ec95e1;
    color: aliceblue;
    height: 856px;
    width: 100%;
   padding-top: 73px;
   font-size: xx-large;
}
#goal{
    margin-left: 23%;
}

#achievement{
    border: 24px;
    border:solid #d411ba;
    background-color: #ec95e1;
    color: aliceblue;
    height: 796px;
    width: 100%;
   padding-top: 73px;
   font-size: x-large;
}
#longoss{
    width: 10%;
    height: 45px;
}
#plans{
    font-size: xx-large;
    margin-top: 63px;
}
#detail{
    margin-left: 153px;
}
#signup{

    padding-left: 30%;
    padding-right: 26%;
    border: 424px;
    padding-top: 45px;
    width: 43%;
    height: 897px;
    font-size: x-large;
    border:solid #d411ba;
    background-color: #ec95e1;
    color: aliceblue;
}

#login{
    padding-right: 2px;
    border: 24px;
    border:solid #d411ba;
    background-color: #ec95e1;
    color: aliceblue;
    height: 796px;
    width: 96%;
    text-align: center;
    padding-top: 73px;
    padding-left: 63px;
    font-size: xx-large;
}
#input{
    border-radius: 23px;
    width: 143%;
    height: 54px;
    text-align: center;
}
#Website{
    font-size: xx-large;
    font-weight: bolder;
}
#navba{
    display: flex;
    gap: 5%;
    font-size: x-large;
    margin-left: 20%;
}
#profiles{
    background-color: #ec95e1;
    color: rgb(19, 18, 17);
    width: 100%;
    height: 840px;
    padding-top: 68px;
    padding-bottom: 10px;
    font-size: large;
    border:solid #d411ba;
    text-align: center;
}
#mentorDetails{
    display: flex;
    gap: 18%;
    margin-right: 23px;
    margin-left: 294px;
}
#log{
    background-color: #ec95e1;
}
#Welcome{
    padding-right: 73px;
    text-align: center;
}
#profile{
    width: 143%;
    height: 353px;
    border-radius: 26%;
}
#image{
    display: flex;
    gap: 12%;
}
#person{
    width: 795px;
    height: 503px;
}
#crime{
    width: 234px;
    height: 44px;
    border: solid;
    border-color:  #ec95e1;
    color: black;
    font-size: large;
    border-radius: 23px;
    }
#Signupbuttons{
    display: flex;
    border-radius: 204%;
    width: 200px;
    height: 39px;
    gap: 12%;
}
#inputs{
    border-radius: 32px;
    text-align: center;
    width: 470px;
    height: 45px;
}
#inputlogin{
    border-radius: 32px;
    text-align: center;
    width: 394px;   
}
#inputss{
    border-radius: 32px;
    text-align: center; 
    width: 294px;
    height: 45px;
}
#Signupbuttonn{
    color: white;
    font-size: larger;
    background-color: #ec95e1;
    border-radius: 260px;
    width: 100px;
    height: 39px;
}
#Navbar{
    display: flex;
    gap: 5%;
    font-size:xx-large;
    margin-left: 23px;
}
#toDoList{
    margin-left: 233px; 
}
#Logo{
display: flex;
gap: 5%;
font-size: xx-large;
margin-left: 28px;

}
#navba{
    font-size: xx-large;
    margin-left: 23px;
}
#Interest{
	margin:10px;
	border:solid #d411ba;
    width: 70%;
    height: 40%;
    text-align: center;
    margin-left: 238px;
    font-size: xx-large;
}
#Navbarr{
    display: flex;
    gap: 7%;
    font-size: x-large;
    margin-left: 28px;
}

#longo{
    width: 7%;
    height: 3%;  
}
#logo{
    width: 24px;
    height: 12px;
    background-color: #ec95e1;
}

#button{
    color: aliceblue;
    border-radius: 23px;
  
}
#plans{
    margin-left: 20px;
    gap: 23%;
}
#LogInSignUpButton{
    font-size: larger;

}
#checkbox{
   
    height: 44px;
    width: 394px;
}
#to-do-list{
    border: 4px;
    border:solid #c199bc;
    background-color: #ec95e1;
    color: aliceblue;
    height: 816px;
    width: 1650px;
   padding-top: 73px;
   font-size: xx-large;

}
#events{

}
#label{
    margin-left: -10%;
}

@media only screen and (max-width: 480px){
    body{
       margin-left: 2% ;       
    }
    #BornaCrime{
        /* border:solid #c199bc; */
        background-color: #ec95e1;
        color: black;
        /* width: 234px;
        height: 234px; */
    }
    #trevor{
        width: 150%;
        height: 60%;
        /* padding-right: 24%; */
    }
    #summary{
        /* padding-top: 90px; */
        font-size:x-large;
        background-color: #ec95e1;
        color: black;
        height: 800px;
    }
    #BornaCrime{
        border:solid #c199bc;
        background-color: #ec95e1;
        color: black;
        /* padding-left: 250px;
        padding-right: 250px; */
        display: grid;
    }    

    #login{
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        width: 353px;
        font-size: x-large;
        text-align: center;
        height: 800px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #logInbn{
        width: 20px;
        margin-top: 34px;
    }
    #logInbutton{
        width: 143px;
    }
    #person{
        width: 100%;
        height: 104%;
    }
    #profiles{
        background-color: #ec95e1;
        color: rgb(19, 18, 17);
        padding: 0%;
        border: 424px;
        width: 99%;
        height: 18%;
        border:solid #d411ba;
        font-size: large;
    }
    #Signupbuttons{
      margin-left: 23px;
      display: block;
      flex-wrap: wrap;
      flex-direction: column;
    }
    #logInbn{
   margin-right: 233px;
   text-align: start;

    }
    #profile{
        width: 53%;
        height: 79%;
    }
    #Interest{
        margin:10px;
        border:solid #d411ba;
        width: 280px;
        height: 50%;
    }
    #inpus{
        width: 34px;
    }
    #Logo{
        font-size: large;
        display:block;
        width: 23px;
        gap: 7%;
    }
    #homepage{
        border: 424px;
        width: 349px;
        border: 524px;
        font-size:medium;
        width: 99%;
        height: 950%;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #mentorDetails{
        margin-left: 23px;
        display: block;
    }
    #longoss{
        width: 43px;
    }
    #welcome{
        font-size: large;
    }
    #logos{
        width:300px;
        height:555px;
    }
    #Inspire{
        display: block;
        gap: 27%;
        font-weight: bold;
        font-size: x-large;
    }
    #Advise{
        display: block;
        gap: 23%;
        font-weight: bold;
        font-size: x-large;
    }
    #to-do-list{
        padding: 0%;
        padding-left: 5%;
        padding-right: 4%;
        border: 524px;
        width: 300px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 840px;
        font-size: large;
    }
    #toDoList{
        margin-left: 22px;
    }
    #checkbox{
        height: 24px;
        width: 234px;
        margin-left: -34%;
    }
    #plans{
        width: 59px;
        margin-left: 45px;
    }
    #label{
        margin-left: -32%;
    }
    
    #Navbar{
        display: block;
        gap: 7%;
        font-size:small;
    }
    #BornACrime{
        background-color: #ec95e1;
        color: azure;
        /* border-radius: 3%; */
        font-size: x-large;
    }
    #input{
        width: 83%;
    }
    #goals{
        padding-left: 1%;
        padding-right: 6%;
        border: 124px;
        width: 310px;
        height: 872px;
        font-size: large;
        border:solid #d411ba;  
        background-color: #ec95e1;
        color: aliceblue;
    }
    #navba{
     display: inline-flex;
     gap: 12%;
     font-size: small;
     width: 103px;
    }
    #Navbarss{
        display: block;
        gap: 5%;
        color: antiquewhite;
    }
    #achievement{
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 690px;
        text-align: start;
        width: 300px;
        font-size: x-large;
    }
    #detail{
        margin-left: 3px;
        font-size: small;
    }
    #longo{
    width: 43px;
    }
    #Navbarr{
        display: block;
        gap: 10%;
        font-size: large;
        width: 3%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 564px){
   body{
    padding: 0%;
    margin-left: 4%;
   }
  
   #profiles{
    background-color: #ec95e1;
    color: rgb(19, 18, 17);
    padding: 0%;
    padding-left: 4%;
    padding-right: 4%;
    width: 300px;
    height: 1120px;
    border:solid #d411ba;
}
#Interest{
    margin:10px;
    border:solid #d411ba;
    width: 300px;
    height: 320px;
}
  
   #homepage{
    border: 424px;
    width: 349px;
    border: 524px;
    font-size: large;
    width: 100%;
    height: 950%;
    border:solid #d411ba;
    background-color: #ec95e1;
    color: aliceblue;
}
    #logos{
        width:800px;
        height:995px;
    }
    #login{
        padding-left: 0%;
        padding-right: 0%;
        border: 224px;
        width:23px;
        text-align: center;
        height: 800px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #signup{
        padding-left: 0%;
        padding-right: 2%;
        border: 400px;
        width: 149px;
        height: 10%;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #Signupbuttons{
        display: block;
        border-radius: 104px;
        width: 60px;
        height: 39px;
    }
    #to-do-list{
        padding: 0%;
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        width: 300px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 796px;
        font-size: large;
    }
    #checkbox{
        height: 24px;
        width: 234px;
        margin-left: -34%;
    }
    #label{
        margin-left: -32%;
    }
    #achievement{
        border: 424px;
        width: 340px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 900px;
        font-size: xx-large;
    }
    #goals{
        padding-left: 1%;
        padding-right: 6%;
        border: 124px;
        width: 360px;
         height: 572px;
        height: 73%;
        border:solid #d411ba;  
        background-color: #ec95e1;
        color: aliceblue;
    }
}

@media only screen and (min-width:412) and (max-width:914){
    
    body{
        margin-left: 4%;
    }
    #profiles{
        background-color: #ec95e1;
        color: rgb(19, 18, 17);
    width: 300px;
    height: 1120px;
    border:solid #d411ba;
    }
    #Interest{
        position:relative;
        margin:10px;
        border:solid #d411ba;
        width: 280px;
        height: 320px;
    }

    #homepage{
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        border: 524px;
        padding: 0%;
        width: 349px;
        font-size: small;
        height: 1330px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
        
        #signup{
        padding-left: 0%;
        padding-right: 2%;
        border: 404px;
        width: 149px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #Signupbuttons{
        display: block;
        border-radius: 104px;
        width: 30px;
        height: 39px;
    }
    #to-do-list{
        padding: 0%;
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        width: 300px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 796px;
        font-size: large;
    }
    #checkbox{
        height: 24px;
        width: 234px;
        margin-left: -34%;
    }
    #label{
        margin-left: -32%;
    }
    #achievement{
        border: 424px;
        width: 340px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 996px;
        font-size: xx-large;
    }
    #achievement{
        border: 334px;
        width: 330px; 
        font-size: x-large; 
    }
    #goals{
        border: 124px;
        width: 890px;
        height: 772px;
        border:solid #d411ba;  
        background-color: #ec95e1;
        color: aliceblue;
    }
    #login{

        border: 424px;
        width: 353px;
        font-size: x-large;
        text-align: center;
        height: 70%;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
}

@media only screen and (min-width: 565px) and (max-width: 764px){
     body{
        margin-left: 4%;
     }

     #profiles{
        background-color: #ec95e1;
        color: rgb(19, 18, 17);
    width: 300px;
    height: 1120px;
    border:solid #d411ba;
    }
    #Interest{
        position:relative;
        margin:10px;
        border:solid #d411ba;
        width: 280px;
        height: 320px;
    }

     #homepage{
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        border: 524px;
        padding: 0%;
        font-size: small;
        width: 349px;
        height: 1330px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #Signupbuttons{
        display: block;
        border-radius: 104px;
        width: 40px;
        height: 39px;
    }
    #signup{
        padding-left: 0%;
        padding-right: 2%;
        border: 404px;
        width: 149px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
    #to-do-list{
        padding: 0%;
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        width: 300px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 796px;
        font-size: large;
    }
    #checkbox{
        height: 24px;
        width: 234px;
        margin-left: -34%;
    }
    #label{
        margin-left: -32%;
    }
    #achievement{
        border: 424px;
        width: 340px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
        height: 896px;
        font-size: xx-large;
    }
    #goals{
        padding-left: 1%;
        padding-right: 6%;
        border: 124px;
        width: 310px;
        height: 700px;
        border:solid #d411ba;  
        background-color: #ec95e1;
        color: aliceblue;
    }
}
@media only screen and (max-width: 765px) and (max-width: 1024){
    body{
        padding: 0%;
        width: 230px;
        height: 450px;
       }
       #profiles{
        background-color: #ec95e1;
        color: rgb(19, 18, 17);
    width: 300px;
    height: 1120px;
    border:solid #d411ba;
    }
    #Interest{
        position:relative;
        margin:10px;
        border:solid #d411ba;
        width: 280px;
        height: 320px;
    }

       #homepage{
        padding-left: 4%;
        padding-right: 4%;
        border: 424px;
        border: 524px;
        padding: 0%;
        font-size: small;
        width: 349px;
        height: 1330px;
        border:solid #d411ba;
        background-color: #ec95e1;
        color: aliceblue;
    }
       #Signupbuttons{
        display: block;
        border-radius: 104px;
        width: 40px;
        height: 39px;
    }
        #homepage{
            font-size:x-large;
            width: 853px;
            border:solid #d411ba;
            background-color: #ec95e1;
            color: aliceblue;
        }
        #logos{
            width:800px;
            height:995px;
        }
        #login{
            padding-left: 30%;
            padding-right: 0%;
            border: 624px;
            width: 400px;
            text-align: center;
            height: 400px;
            border:solid #d411ba;
            background-color: #ec95e1;
            color: aliceblue;
        }
        #to-do-list{
            padding: 0%;
            padding-left: 4%;
            padding-right: 4%;
            border: 424px;
            width: 300px;
            border:solid #d411ba;
            background-color: #ec95e1;
            color: aliceblue;
            height: 796px;
            font-size: large;
        }
        #checkbox{
            height: 24px;
            width: 234px;
            margin-left: -34%;
        }
        #label{
            margin-left: -32%;
        }
        #achievement{
            border: 424px;
            width: 340px;
            border:solid #d411ba;
            background-color: #ec95e1;
            color: aliceblue;
            height: 896px;
            font-size: xx-large;
        }
        #goals{
            border: 124px;
            width: 380px;
            height: 772px;
            border:solid #d411ba;  
            background-color: #ec95e1;
            color: aliceblue;
        }
} 





